<div class="row">
  <div class="col-xs-4">
    <div class="input-group">
      <form>
        <input type="text" id="channelNameSearch" class="form-control", placeholder="Название канала"/>
        <br/>
        <br/>
        <input type="text" id="channelUriSearch" class="form-control", placeholder="RSS ссылка"/>
      </form>
    </div>
  </div>
</div>