<div class="center hero-unit">
  <h1>Welcome</h1>

  <% get_feed.entries.each do |e| %>

    <div class="feed">
      <img src="<%= "#{e.image}" %>">

      <h2>
        <%= "#{e.title}" %><br/>
      </h2>
      <p>
        <%= "#{e.summary}" %><br/>
      </p>
      <a href="<%= "#{e.url}" %>">Read more..</a>
    </div>

    <br/>
  <% end %>

</div>

