<style>
  body {
    margin: 0;
    background: #0f1b23;
  }
</style>
<div class="greeting">
  <h1>Добро пожаловать на ваш персональный новостной портал</h1>
<!--  <h1>Welcome to your personal news portal</h1>-->
  <h2>Следи за интересующими тебя новостями - ничего лишнего и никакой рекламы!</h2>
<!--  <h2>Watch news you are interested in - nothing extra and no advertising!</h2>-->
  <h2>Подписывайся на различные каналы и других пользователей, создавай свой контент</h2>
<!--  <h2>Subscribe to categorized channels, follow other users, make your own posts</h2>-->

  <h3>Еще нет аккаунта? <%= link_to "Регестрируйся прямо сейчас!", signup_path %>
<!--  <h3>Have no account? <%#= link_to "Sign up right now!", signup_path %>-->
    Или <%= link_to "Заходи", signin_path %>
<!--    Or <%#= link_to "Sign in", signin_path %>-->
  </h3>
</div>