<style>
  body {
    margin: 0;
    background: #0f1b23;
  }
</style>
<div class="greeting">
  <h1>
    Welcome to your personal news portal</h1>
  <h2>
    Watch news you are interested in - nothing extra and no advertising!
  </h2>
  <h2>
    Subscribe to categorized channels, follow other users, make your own posts
  </h2>

  <h3>Have no account? <%= link_to "Sign up right now!", signup_path %>
    Or <%= link_to "Sign in", signin_path %>
  </h3>
</div>