<div class="news">
  <h3 class="news__title">News</h3>
  <ul class="news__list">
    <% @feeds.entries.each do |feed| %>
      <% feed.entries.each do |f| %>
        <li class="news_item">
<!--          <img class="left" alt="img" src="<%#= "#{f.image}" %>">-->
          <div class="right">
            <h3>
              <a href="<%= "#{f.url}" %>">
                <%= "#{f.title}" %>
              </a>
            </h3>
            <p>
              <%= "#{f.summary}" %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

