<div class="content">
  <div class="col-lg-8">
    <div id="recentNews" class="blog col-lg-11 scrollable">
      <span class="mt-3">Последние новости:</span>
      <%= render @feeds %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>
  </div>

</div>
