// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

h2 {
  color: #4C4C4C;
  word-spacing: 5px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom:30px;
  font-family: 'Raleway', sans-serif;
}

.ion-minus{
  padding:0px 10px;
}

.blog {
  background-color:#f6f6f6;
  padding:20px 0px;
  font-family: 'Raleway', sans-serif;
}

.blog .blog-column a{
  text-decoration: none;
}

.blog  span {
  font-size: 17px;
  font-weight: 700;
}

.blog  .blog-detail {
  margin-top: 10px;
}

.fa.fa-user, .fa.fa-clock-o {
  padding-right: 10px;
  color: #909090;
  font-size: 11px;
}

.right-side-form{
  display: inline-block;
  margin-left: 10px;
}

.good{
  font-family: 'Raleway', sans-serif;
  color: green;
}
.bad{
  font-family: 'Raleway', sans-serif;
  color: red;
}

a.btn:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
}
a.btn {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}