// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$button: #e6b333;
$border: #22272d;

#man-people-user, #lock-locker {
  fill: white;
}

.sign-in {
  width: 18%;
  margin: 10% auto;
  color: white;
  font-size: 1.3em;
  form {
    position: relative;
  }
  input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0;
    outline: none;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #0f1b23 inset;
    -webkit-text-fill-color: #e6b333;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; /* выставляется желаемая задержка */
  }
  input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid white;
    box-shadow: none;
  }
  input[type="text"] {
    background: transparent;
    border: 2px solid $border;
    padding-left: 45px;
    color: $button;
  }
  input[type="password"] {
    background: transparent;
    border: 2px solid $border;
    padding-left: 45px;
    color: $button;
  }
  input[type="radio"] {
    display: none;
  }
  .user {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding: 7px;
    left: 5px;
    &::after {
      content: "";
      width: 1px;
      height: 30px;
      position: absolute;
      background: $border;
      top: 0px;
      left: 100%;
    }
  }
  .user-input:focus .user {
    background: white !important;
  }
  .clear {
    clear: both;
  }
  .button:hover {
    color: #d3d3d3
  }
  .lock {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding: 7px;
    left: 5px;
    &::after {
      content: "";
      width: 1px;
      height: 30px;
      position: absolute;
      background: $border;
      top: 0px;
      left: 100%;
    }
  }
  .button {
    background: $button;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.0em;
    cursor: pointer;
  }
  .radio-check {
    width: 50px;
    height: 20px;
    border: 1px solid $border;
    border-radius: 30px;
    margin-top: 10px;
    float: left;
    text-align: center;
    padding: 4px 0;
    color: $button;
    font-size: 0.65em;
    position: relative;
    label {
      margin: 0 2px;
      cursor: pointer;
    }
    .switch-selection {
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #babbbd;
      margin-top: -11px;
      margin-left: 11px;
      transition: 0.2s ease-out;
    }

  }
  .radio-yes:checked ~ .switch-selection {
    margin-left: 25px !important;
  }
  .check-label {
    font-size: 0.8em;
    color: #7f8084;
    margin-top: 10px;
    float: left;
    padding: 3px 0;
    margin-left: 10px;
  }
  .forgot-label {
    font-size: 0.8em;
    color: #7f8084;
    margin-top: 10px;
    float: right;
    padding: 3px 0;
    cursor: pointer;
  }
}

